h1 {
  background-color: navy;
  color: white;
  padding: 20px;
  margin: 0 0 20px 0;
  text-align: center;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  font-size: 20px;
}


a {
  color: #00B7FF;
}
